.layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 464px;
    gap: 24px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 88px;
}