.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
}

.container {
  display: flex;
  margin-top: 100px;
  width: 960px;
}