.topping-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 190px;
  padding: 8px;
  background-color: antiquewhite;
  border: 2px solid;
  border-color: antiquewhite;
  border-radius: 16px;
}

.checked {
  border-color: red;
}

.topping-name {
  color: var(--title-color);
  text-align: center;
  margin-top: auto;
  font-weight: 500;
}

.base {
  text-align: center;
}

.topping-cost {
  margin-top: auto;
  color: black;
  font-weight: 500;
}