.layout {
    display: flex;
    flex-direction: column;
    width: 464px;
    gap: 24px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button {
    width: 220px;
}