.button {
  width: 304px;
  height: 56px;
  padding: 16px 32px;
  border-radius: 16px;
  font-weight: 500;
  border: 2px solid;
  transition: all 0.25s ease-out;
}

.accept {
  border-color: var(--accept-button-color);
  color: var(--text-invert-color);
  font-size: var(--primary-text-size);
  background-color: var(--accept-button-color);

  &:hover {
    background-color: var(--accept-button-hover-color);
    border-color: var(--accept-button-hover-color);
  }

  &:disabled {
    background-color: var(--accept-button-focus-color);
    border-color: var(--accept-button-focus-color);
  }
}

.tabs {
  border-color: var(--accept-button-color);
  color: var(--text-invert-color);
  font-size: var(--primary-text-size);
  background-color: var(--accept-button-color);
}

.button-transparent {
  text-decoration: underline;
  font-size: var(--secondary-text-size);
  color: var(--quartenery-color);
  border: none;
  padding: 0;
  height: auto;
  width: 0;
}

.cancel {
  border-color: var(--border-light-color);

  &:hover {
    background-color: var(--border-light-color);
    border-color: var(--border-light-color);
  }
}